
.nav-list {
    display: flex;
    list-style-type: none;
    margin: 0 auto;
    margin-right: -100px;

}

.nav-item  {
    display: inline-block;
    padding:18px 6px 8px 6px;
    color:rgb(0, 0, 0);
    font-size: .99rem;
    margin-right: 1.3em;
}

.nav-item:hover{
    color: purple;
}

.active-nav-item {
    color: purple
}
.link {
    color: #999999
}